:root {
    --principal: #451c8b;
    --contraste: #c8c1ff;
    --fundo: #eeecff;
    --bem: #65fa8f;
    --atencao: #fada64;
    --perigo: #f98a25;
    --mperigo: #ff3131;
}

/* TUDO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--fundo);
}

.tudo {
    display: flex;
}

/* HEADER */
header .header-container {
    background-color: var(--principal);
    width: 10vw;
    min-width: 150px;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .header-container i {
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 900;
    transition: 0.3s;
}

#menu {
    transition: 0.3s;
}

#menu:hover {
    transform: scale(1.1);
}

/* NAVEGAÇÃO DO HEADER */
header .header-navigation {
    display: flex;
    flex-direction: column;
    gap: 0;
}

header .header-navigation .home,
header .header-navigation .eficiencia,
header .header-navigation .alert {
    display: flex;
    align-items: center;
    height: 13vh;
}

/* ANIMAÇÃO DE NAVEGAÇÃO */
.fundo {
    position: absolute;
    height: 13vh;
    width: 150px;
    left: 0;
    background-color: var(--contraste);
    z-index: 1;
    transform-origin: right;
    animation: expandirEsquerda 0.5s ease forwards;
}

@keyframes expandirEsquerda {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes recolherDireita {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

/* ANIMAÇÃO DE MENU */
.menu-extend {
    width: 30%;
    top: 0;
    left: 150px;
    background-color: var(--principal);
    height: 100vh;
    position: fixed;
    z-index: 999;
    animation: expandirDireita 0.5s ease forwards;
    transform-origin: left;
    border-left: 1px solid var(--contraste);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

@keyframes expandirDireita {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes recolherEsquerda {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

/* MENU EXTEND */
.menu-extend .jira-slack {
    display: flex;
    gap: 20px;
}

.menu-extend .jira-slack .card {
    display: flex;
    gap: 10px;
    width: 50%;
    padding: 20px;
    background-color: var(--contraste);
    border-radius: 10px;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.menu-extend .jira-slack .card:hover {
    background-color: white;
}

.menu-extend .jira-slack .card img {
    width: 33%;
}

.menu-extend .widgets {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.menu-extend .widgets .email,
.menu-extend .widgets .telefone {
    font-size: 20px;
}

.menu-extend .widgets .email i,
.menu-extend .widgets .telefone i {
    color: white;
}

.menu-extend .widgets p {
    color: var(--contraste);
    font-size: 18px;
    text-align: justify;
}

.menu-extend .infos-user {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.menu-extend .infos-user h1 {
    font-weight: 500;
    color: white;
}

.menu-extend .infos-user h2 {
    font-weight: 500;
    color: var(--contraste);
}

/* POPUP PARA LOGOUT */
.popup-logout {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.507);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    display: none;
}

.popup-logout .popup-content {
    width: 30%;
    height: 40vh;
    background-color: white;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

.popup-logout .popup-content i {
    font-size: 30px;
    color: var(--principal);
    cursor: pointer;
}

.popup-logout .popup-content h1 {
    color: var(--principal);
    text-align: center;
}

.popup-logout .popup-content button {
    padding: 30px;
    font-size: 20px;
    width: 90%;
    background-color: var(--principal);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.popup-logout .popup-content .box-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* CONTENT */
.content .information {
    width: 100%;
    max-width: 1400px;
    height: 15vh;
    background-color: var(--contraste);
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    gap: 30px;
}

.content .information h1 {
    font-weight: 500;
    color: var(--principal);
}

.content .information .title {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.content .information .title p {
    font-size: 25px;
    color: var(--principal);
    font-weight: bold;
}

/* KPIS */
.conteudo {
    width: 100%;
    max-width: 1400px;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
}

.conteudo .kpis {
    display: grid;
    grid-template-columns: 1.1fr 1.8fr 1.1fr;
    gap: 10px;
}

.conteudo .kpis .kpi {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
}

.conteudo .kpis .kpi .dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo .kpis .kpi .dado h1 {
    font-size: 40px;
    color: var(--principal);
}

.conteudo .kpis .kpi .titulo h1 {
    font-size: 25px;
}

.conteudo .kpis .kpi .titulo h2 {
    font-size: 18px;
    color: var();
}

.alerta {
    border-left: 8px solid;
}

.alerta .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.alerta .titulo .idTotem {
    color: black;
}

.alerta .titulo h1 {
    color: var(--principal);
}

.alerta .dado .grid-alerta {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.alerta .dado .grid-alerta img {
    width: 100%;
}

.alerta .dado .grid-alerta .tituloAlerta .grauAlerta {
    color: black;
    font-size: 25px;
    text-align: center;
}

.alerta .dado .grid-alerta .tituloAlerta {
    margin-left: 10px;
    text-align: center;
}

.alerta .dado .grid-alerta .tituloAlerta h1 {
    font-size: 25px;
    text-align: center;
    color: var(--principal);
}

.alerta .dado h2 {
    color: var(--principal);
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.infos-totem .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.infos-totem .titulo h1 {
    color: var(--principal);
}

.infos-totem .dado {
    width: 100%;
}

.infos-totem .dado ul {
    list-style: none;
    font-weight: 600;
    padding: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.infos-totem ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    color: var(--principal);
}

.infos-totem ul li p {
    margin-left: 6px;
    color: black;
}

.uptime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uptime .titulo {
    text-align: center;
}

.uptime .titulo h1 {
    color: var(--principal);
    font-size: 22px;
}

.uptime .titulo h2 {
    font-size: 16px;
    color: black;
    opacity: 0.8;
}

.uptime .dado #valor-uptime {
    margin-top: 5px;
    font-size: 38px;
    color: black;
    font-weight: 600;
}

.uptime .dado h2 {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    color: var(--principal);
}

.dados {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    height: 45vh;
}

.processos {
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.processos .titulo {
    text-align: center;
}

.processos .titulo h1 {
    color: var(--principal);
    font-size: 22px;
}

.processos .titulo h2 {
    font-size: 18px;
    color: black;
}

.tabela {
    width: 101%;
    height: 101%;
    border-radius: 10px;
    overflow: hidden;  
}

.tabela-processos {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    font-size: 18px;
}

.tabela-processos thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tabela-processos thead th {
    text-align: center;
    font-size: 18px;
    color: var(--principal);
    background-color: var(--contraste);
}

.tabela-processos thead .direita {
    border-top-left-radius: 10px;
}

.tabela-processos thead .esquerda {
    border-top-right-radius: 10px;
}

.tabela-processos tbody {
    display: block;
    width: 100%;
    height: 22vh;
    overflow: auto;
    border: solid var(--contraste) 3px;
}

.tabela-processos tbody tr {
    display: table;
    font-size: 16px;
    width: 100%;
    table-layout: fixed;
    background: #f3f3ff;
}

.tabela-processos th, 
.tabela-processos td {
    padding: 10px;
}

.tabela-processos td {
    border-bottom: solid var(--contraste) 2px;
    white-space: normal;
    overflow-wrap: break-word; 
}

.monitoramento {
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.monitoramento .titulo {
    text-align: center;
    margin-bottom: 10px;
}

.monitoramento .titulo h1 {
    color: var(--principal);
    font-size: 22px;
}

.monitoramento .dado {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 10px;
}

.seletor-componente {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.seletor-componente select {
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid var(--contraste);
    font-size: 15px;
}

.grafico-container {
    background: #e8e6ff;
    border-radius: 10px;
    padding: 10px;
}

.painel-info {
    margin-top: 5px;
    background: #e8e6ff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.painel-info #valorAtivos {
    margin-top: 5px;
    font-size: 27px;
    color: black;
    font-weight: 600;
    margin-bottom: 2px;
}

.painel-info h1 {
    color: var(--principal);
    font-size: 22px;
}

.painel-info h2 {
    font-size: 16px;
    color: var(--principal);
}

.painel-info .subtitulo {
    font-size: 16px;
    color: black;
    opacity: 0.8;
}