:root {
    --principal: #451c8b;
    --contraste: #c8c1ff;
    --fundo: #eeecff;
    --bem: #65fa8f;
    --atencao: #fada64;
    --perigo: #f98a25;
    --mperigo: #ff3131;
}

/* TUDO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--fundo);
}

.tudo {
    display: flex;
}

/* HEADER */
header .header-container {
    background-color: var(--principal);
    width: 150px;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .header-container i {
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 900;
    transition: 0.3s;
}

#menu {
    transition: 0.3s;
}

#menu:hover {
    transform: scale(1.1);
}

/* NAVEGAÇÃO DO HEADER */
header .header-navigation {
    display: flex;
    flex-direction: column;
    gap: 0;
}

header .header-navigation .home,
header .header-navigation .eficiencia,
header .header-navigation .modelos,
header .header-navigation .alert {
    display: flex;
    align-items: center;
    height: 13vh;
}

/* ANIMAÇÃO DE NAVEGAÇÃO */
.fundo {
    position: absolute;
    height: 13vh;
    width: 150px;
    left: 0;
    background-color: var(--contraste);
    z-index: 1;
    transform-origin: right;
    animation: expandirEsquerda 0.5s ease forwards;
}

@keyframes expandirEsquerda {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes recolherDireita {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

/* ANIMAÇÃO DE MENU */
.menu-extend {
    width: 30%;
    top: 0;
    left: 150px;
    background-color: var(--principal);
    height: 100vh;
    position: fixed;
    z-index: 999;
    animation: expandirDireita 0.5s ease forwards;
    transform-origin: left;
    border-left: 1px solid var(--contraste);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

@keyframes expandirDireita {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes recolherEsquerda {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

/* MENU EXTEND */
.menu-extend .jira-slack {
    display: flex;
    gap: 20px;
}

.menu-extend .jira-slack .card {
    display: flex;
    gap: 10px;
    width: 50%;
    padding: 20px;
    background-color: var(--contraste);
    border-radius: 10px;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.menu-extend .jira-slack .card:hover {
    background-color: white;
}

.menu-extend .jira-slack .card img {
    width: 33%;
}

.menu-extend .widgets {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.menu-extend .widgets .email,
.menu-extend .widgets .telefone {
    font-size: 20px;
}

.menu-extend .widgets .email i,
.menu-extend .widgets .telefone i {
    color: white;
}

.menu-extend .widgets p {
    color: var(--contraste);
    font-size: 18px;
    text-align: justify;
}

.menu-extend .infos-user {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.menu-extend .infos-user h1 {
    font-weight: 500;
    color: white;
}

.menu-extend .infos-user h2 {
    font-weight: 500;
    color: var(--contraste);
}

/* CONTENT */
.content .information {
    width: 1340px;
    height: 15vh;
    background-color: var(--contraste);
    padding-left: 40px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .information h1 {
    font-weight: 500;
    color: var(--principal);
}

.content .information .title {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.content .information .title p {
    font-size: 25px;
    color: var(--principal);
    font-weight: bold;
}

.content .information .alterar-regiao i {
    cursor: pointer;
}

.content .information .alterar-regiao {
    margin-top: 10px;
    font-size: 35px;
    color: var(--principal);
}

/* WIDGETS */
.widgets select {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.widgets .card {
    display: flex;
}

.widgets .card img {
    width: 50%;
}

/* POPUP PARA LOGOUT */
.popup-logout {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.507);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    display: none;
}

.popup-logout .popup-content {
    width: 30%;
    height: 40vh;
    background-color: white;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

.popup-logout .popup-content i {
    font-size: 30px;
    color: var(--principal);
    cursor: pointer;
}

.popup-logout .popup-content h1 {
    color: var(--principal);
    text-align: center;
}

.popup-logout .popup-content button {
    padding: 30px;
    font-size: 20px;
    width: 90%;
    background-color: var(--principal);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.popup-logout .popup-content .box-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* POPUP PARA ESCOLHA DE REGIÃO */
.popup-escolha {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.507);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    display: none;
}

.popup-escolha .escolha-content {
    width: 50%;
    height: 80vh;
    background-color: white;
    padding: 30px;
    transition: 0.3s;
    border-radius: 10px;
}

.popup-escolha .escolha-content i {
    font-size: 30px;
    color: var(--principal);
}

.popup-escolha .escolha-content h1 {
    color: var(--principal);
    font-weight: 500;
}

.popup-escolha .escolha-content .initial-escolha {
    display: flex;
}

.popup-escolha .escolha-content .initial-escolha .box {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.popup-escolha .escolha-content .initial-escolha .box select {
    border: 1px solid var(--principal);
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
}

.popup-escolha .escolha-content .priorizar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.popup-escolha .escolha-content .aguardando {
    border: 1px solid var(--principal);
    margin-top: 60px;
    padding: 40px;
    border-radius: 10px;
    height: 45vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-escolha .escolha-content .aguardando h2 {
    color: var(--principal);
}

.popup-escolha .escolha-content .aguardando p {
    font-size: 20px;
    margin-top: 40px;
}

/* PARA PRODUÇÃO */
.popup-escolha .escolha-content .producao {
    border: 1px solid var(--principal);
    margin-top: 60px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-escolha .escolha-content .producao h2 {
    color: var(--principal);
}

.popup-escolha .escolha-content .producao p {
    font-size: 20px;
    margin-top: 40px;
}

/* PARA AS REGIÕES */
.popup-escolha .escolha-content .regioes {
    display: flex;
    flex-direction: column;
    height: 45vh;
    overflow: auto;
    margin-top: 30px;
}

.popup-escolha .escolha-content .regioes .regiao {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.popup-escolha .escolha-content .regioes .regiao:hover {
    background-color: var(--fundo);
}

.popup-escolha .escolha-content .regioes .regiao h1 {
    font-size: 25px;
    width: 100%;
}

.popup-escolha .escolha-content .regioes .regiao .priorizar {
    display: flex;
}

.popup-escolha .escolha-content .regioes .regiao .priorizar h3 {
    font-size: 25px;
    color: var(--principal);
}

/* AGUARDANDO SELECIONAR REGIÃO */
.waiting {
    padding: 30px;
}

.waiting .box {
    height: 77vh;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting .box .text {
    width: 70%;
    text-align: center;
}

.waiting .box .text h1 {
    color: var(--principal);
}

.waiting .box .text p {
    font-size: 20px;
}

.waiting .box .text img {
    width: 20%;
    margin-top: 50px;
}

/* POPUP DE PASSO À PASSO */
.popup-passos {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.507);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    display: none;
}

.popup-passos .passos-content {
    width: 30%;
    height: 40vh;
    background-color: white;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
}
/* AJUSTES */
.information-first{
    display: flex;
    gap: 20px;
}
/* DADOS + KPIS */
.conteudo{
    padding: 22px;
}
.conteudo .kpis{
    display: flex;
    gap: 10px;
}
.conteudo .kpis .kpi{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 220px;
}
.conteudo .kpis .kpi .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo .kpis .kpi .titulo h1{
    font-size: 25px;
    color: var(--principal);
}
.conteudo .kpis .kpi .titulo h2{
    font-size: 20px;
    margin-top: -10px;
}
.conteudo .kpis .kpi .dados{
    display: flex;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.conteudo .kpis .kpi .dados .texto{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 1vh;
}
.texto2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.texto2 p{
    font-size: 20px;
}
#grafico-pizza{
    width: 80px;
}
#grafico-pizza2{
    width: 80px;
}
.conteudo .kpis .kpi .dados-modelo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo .kpis .kpi .dados-modelo h1{
    color: var(--principal);
    font-size: 30px;
}
.conteudo .kpis .kpi .dados-modelo p{
    margin-top: -10px;
    font-weight: bold;
}
.conteudo .kpis .kpi .complement{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.conteudo .kpis .kpi .complement p{
    color: var(--principal);
    font-weight: bold;
}
.conteudo .kpis .kpi .modelos-kpi{
    height: 15vh;
    overflow: auto;
    margin-top: 20px;
}
.conteudo .kpis .kpi .modelos-kpi .modelo{
    display: flex;
    gap: 40px;
    padding: 15px 30px 15px 30px;
    align-items: center;
    transition: 0.3s;
}
.conteudo .kpis .kpi .modelos-kpi .modelo:hover{
    background-color: var(--fundo);
}
.conteudo .kpis .kpi .modelos-kpi .modelo p{
    color: var(--principal);
    font-weight: bold;
}
.conteudo .kpis .kpi .modelos-kpi .modelo h2{
    font-size: 17px;
    width: 40%;
}
.conteudo .kpis .kpi .dados-previsao{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}
.conteudo .kpis .kpi .dados-previsao h1{
    font-size: 40px;
    color: var(--principal);
}
.conteudo .kpis .kpi .dados-previsao h2{
    font-size: 20px;
}
.half p{
    font-weight: bold;
}
/* MODELOS */
.dados-all{
    display: flex;
    gap: 10px;
}
.dados-all .modelos .legenda{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dados-all .modelos .legenda h1{
    font-size: 25px;
    color: var(--principal);
}
.dados-all .modelos .legenda p{
    margin-top: -10px;
    font-weight: bold;
    font-size: 20px;
}

.modelos{
    height: 48vh;
    width: 40%;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.grafico-linhas{
    height: 48vh;
    width: 60%;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}
.list-modelos h1{
    font-size: 25px;
    color: var(--principal);
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.filter select{
    height: 4vh;
    width: 50%;
    border-radius: 5px;
    border: 1px solid var(--principal);
}

/* LISTA DE MODELOS */
.modelos-all{
    display: flex;
    align-items: center;
    height: 30vh;
    overflow-y: auto;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.modelos-all .modelo{
    padding: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
}
.modelos-all .modelo:hover{
    background-color: var(--fundo);
}
.modelos-all .modelo h2{
    font-size: 15px;
}
.modelos-all .modelo .color{
    height: 2vh;
    width: 30%;
    background-color: #ff3131;
    border-radius: 20px;
}

/* GRÁFICO DE LINHAS */
.grafico-linhas{
    padding: 20px;
}
.grafico-linhas .titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.grafico-linhas .titulo h1{
    font-size: 25px;
    color: var(--principal);
}
.grafico-linhas .titulo h2{
    font-size: 20px;
    margin-top: -10px;
}
.selecionar_modelo{
    position: absolute;
    width: 49%;
    display: flex;
    justify-content: right;
}
.selecionar_modelo select{
    border: 1px solid var(--principal);
    padding: 5px;
    border-radius: 5px;
}

/* COMPONENTES MONITORADOS */
.metrica{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 300px;
    overflow: hidden;
}
.metrica i{
    font-size: 50px;
    color: var(--principal);
    cursor: pointer;
}
.infos-metrica{
    margin-top: 10px;
    width: 230px;
}
.div_item{
    display: flex;
    width: 500px;
    align-items: center;
}
#p_data{
    font-weight: bold;
}

/* QUANDO NÃO EXISTEM MODELOS CADASTRADOS */
.sem_modelos{
    background-color: rgba(0, 0, 0, 0.582);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sem_modelos .sem_box{
    width: 70%;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.sem_modelos .sem_box h1{
    font-size: 40px;
    color: var(--principal);
}
.sem_modelos .sem_box p{
    width: 80%;
    text-align: center;
    font-size: 20px;
}
.sem_modelos .sem_box button{
    width: 60%;
    height: 10vh;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--principal);
    color: white;
    border: none;
    cursor: pointer;
}