:root {
    --primaria: #8b5cf6;
    --primaria-dark: #7c3aed;
    --primaria-light: #a78bfa;
    --secondaria: #67e8f9;
    --branco: #ffffff;
    --branco-light: #b99db6;
    --texto: #000000;
    --texto-secundario: #000000;
    --sucesso: #10b981;
    --perigo: #ef4444;
    --alerta: #f59e0b;
}

.content h1 span{
    color: black;
    font-weight: 400;
}

.content .zona{
    display: flex;
    gap: 20px;
}
.content .zona label {
    font-size: 25px;
}

.content .zona select {
    border: 1px solid var(--primaria);
    border-radius: 10px;
    width: 225px;
    padding: 10px;
    font-size: 17px;
}

/* PRIMEIRA PARTE */
.first{
    display: flex;
    gap: 10px;
}
.first .first-region{
    width: 45%;
}
.first .first-kpi{
    display: flex;
    width: 50%;
    gap: 20px;
}
.first .first-kpi .kpi{
    border: 1px solid var(--primaria);
    padding: 20px;
    border-radius: 10px;
}
.first .first-kpi .kpi h1{
    font-size: 25px;
    text-align: center;
}
.first .first-kpi .kpi span{
    font-size: 15px;
}

/* SEGUNDA PARTE */
.second{
    margin-top: -20px;
}
.second h1{
    font-size: 30px;
}
.second .second-infos{
    display: flex;
    gap: 50px;
}
.second .second-infos .modelos{
    margin-top: 1%;
    width: 60%;
    height: 25vh;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}
.second .second-infos .modelos .modelo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 20px;
    border: 1px solid var(--primaria);
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.second .second-infos .modelos .modelo:hover{
    background-color: #eae3ff;
}
.second .second-infos .modelos .modelo h1{
    font-size: 20px;
}
.second .second-infos .modelos .modelo p{
    font-size: 25px;
}
.second .second-infos .modelos .modelo .color{
    width: 40%;
    height: 3vh;
    border: 1px solid var(--primaria);
    border-radius: 10px;
}
.second .second-infos .modelos .modelo h2{
    font-size: 15px;
    font-weight: 400;
}

.second .second-infos .legendas .legenda h1{
    font-size: 22px;
    color: black;
    font-weight: 400;
}
.second .second-infos .legendas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 30%;
}
.second .second-infos .legendas .legenda{
    display: flex;
    gap: 20px;
    align-items: center;
}
.second .second-infos .legendas .legenda .color{
    width: 15%;
    height: 3vh;
    border: 1px solid var(--primaria);
    border-radius: 10px;
}

/* TERCEIRA PARTE */
.third{
    margin-top: 30px;
}
.third h1{
    font-size: 30px;
}
.third .barra{
    width: 95%;
    margin-top: 10px;
}