:root {
    --primaria: #8b5cf6;
    --primaria-dark: #7c3aed;
    --primaria-light: #a78bfa;
    --secondaria: #67e8f9;
    --branco: #ffffff;
    --branco-light: #b99db6;
    --texto: #000000;
    --texto-secundario: #000000;
    --sucesso: #10b981;
    --perigo: #ef4444;
    --alerta: #f59e0b;
}

/* Aguardando */
.aguardando{
    width: 1150px;
    border: 1px solid var(--primaria);
    height: 60vh;
    margin-top: 10px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.aguardando h1{
    margin-bottom: 20px;
}
.aguardando p{
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
}

/* Regiões */
.regioes {
    width: 1150px;
    height: 60vh;
    border: 1px solid var(--primaria);
    margin-top: 10px;
    border-radius: 20px;
    top: 0;
    overflow: auto;
}

.regiao {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primaria);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: 0.3s;
}

.regiao:hover{
    background-color: #eae3ff;
    cursor: pointer;
}

.regiao .primeiro-bloco .cor {
    width: 60px;
    height: 30px;
    border-radius: 20px;
}

.regiao .primeiro-bloco {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.segunda-parte {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.segunda-parte h1 {
    font-size: 35px;
}

.segunda-parte label {
    font-family: 'Poppins';
    text-align: center;
}

.regiao .segunda-parte .segundo-bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}