:root {
    --principal: #451c8b;
    --contraste: #c8c1ff;
    --fundo: #eeecff;
    --bem: #65fa8f;
    --atencao: #fada64;
    --perigo: #f98a25;
    --mperigo: #ff3131;
}

/* TUDO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--fundo);
}

.tudo {
    display: flex;
}

/* HEADER */
header .header-container {
    background-color: var(--principal);
    width: 150px;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20vh;
}

header .header-container i {
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 900;
    transition: 0.3s;
}

#menu {
    transition: 0.3s;
}

#menu:hover {
    transform: scale(1.1);
}

/* NAVEGAÇÃO DO HEADER */
header .header-navigation {
    display: flex;
    flex-direction: column;
    gap: 0;
}

header .header-navigation .home,
header .header-navigation .sair,
header .header-navigation .alert {
    display: flex;
    gap: 5vh;
    align-items: center;
    height: 10vh;
}

/* ANIMAÇÃO DE NAVEGAÇÃO */
.fundo {
    position: absolute;
    height: 13vh;
    width: 150px;
    left: 0;
    background-color: var(--contraste);
    z-index: 1;
    transform-origin: right;
    animation: expandirEsquerda 0.5s ease forwards;
}

@keyframes expandirEsquerda {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes recolherDireita {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

/* ANIMAÇÃO DE MENU */
.menu-extend {
    width: 30%;
    top: 0;
    left: 150px;
    background-color: var(--principal);
    height: 100vh;
    position: fixed;
    z-index: 999;
    animation: expandirDireita 0.5s ease forwards;
    transform-origin: left;
    border-left: 1px solid var(--contraste);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

@keyframes expandirDireita {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes recolherEsquerda {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

/* MENU EXTEND */
.menu-extend .jira-slack {
    display: flex;
    gap: 20px;
}

.menu-extend .jira-slack .card {
    display: flex;
    gap: 10px;
    width: 50%;
    padding: 20px;
    background-color: var(--contraste);
    border-radius: 10px;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.menu-extend .jira-slack .card:hover {
    background-color: white;
}

.menu-extend .jira-slack .card img {
    width: 33%;
}

.menu-extend .widgets {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.menu-extend .widgets .email,
.menu-extend .widgets .telefone {
    font-size: 20px;
}

.menu-extend .widgets .email i,
.menu-extend .widgets .telefone i {
    color: white;
}

.menu-extend .widgets p {
    color: var(--contraste);
    font-size: 18px;
    text-align: justify;
}

.menu-extend .infos-user {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.menu-extend .infos-user h1 {
    font-weight: 500;
    color: white;
}

.menu-extend .infos-user h2 {
    font-weight: 500;
    color: var(--contraste);
}

/* WIDGETS */
.widgets .card {
    display: flex;
}

.widgets .card img {
    width: 50%;
}

/* POPUP PARA LOGOUT */
.popup-logout {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.507);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    display: none;
}

.popup-logout .popup-content {
    width: 30%;
    height: 40vh;
    background-color: white;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

.popup-logout .popup-content i {
    font-size: 30px;
    color: var(--principal);
    cursor: pointer;
}

.popup-logout .popup-content h1 {
    color: var(--principal);
    text-align: center;
}

.popup-logout .popup-content button {
    padding: 30px;
    font-size: 20px;
    width: 90%;
    background-color: var(--principal);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.popup-logout .popup-content .box-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    max-height: 100vw;
}

.topo {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 10%;
    background-color: #c8c1ff;
    justify-content: space-between;
    align-items: center;
    color: #451c8b;
}

.topo button {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #eeecff;
    border: 0;
    color: #451c8b;
    font-weight: 500;
    font-size: 15px;
}

.baixo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eeecff;
    width: 90vw;
    height: 90vh;
    padding: 5vh;
}

.conteudo {
    height: 77vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
}

.conteudo h1 {
    text-align: center;
}

/* Cards */
.card-user {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: flex-start;
    gap: 20px;
    font-size: 18px;
    padding: 30px;
    border-radius: 20px;
    border: solid 2px var(--primaria);
}

.card-user:hover {
    background-color: #eeecff;
    transition: 0.3s;
}

.card-second button {
    padding: 3vh;
    width: 30vh;
    border-radius: 20px;
    font-size: 20px;
    border: solid 2px var(--primaria);
    align-self: flex-end;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card-user #first {
    color: var(--primaria);
    font-weight: bold;
    margin-right: 5px;
}

#pendentes,#cadastradas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    overflow: auto;
    height: 500px;
}

.aprovar {
    background-color: lightgreen;
    cursor: pointer;
    transition: 0.3s;
}
.aprovar:hover{
    transform: scale(1.03);
}

.reprovar {
    background-color: lightcoral;
    cursor: pointer;
    transition: 0.3s;
}

.reprovar:hover {
    transform: scale(1.03);
}

.ativar{
    background-color: lightgreen;
    cursor: pointer;
    transition: 0.3s;
}

.ativar:hover   {
    transform: scale(1.03);
}

/* Cards Nothing */
.card-nothing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primaria);
    height: 55vh;
    border-radius: 20px;
}

.card-nothing p{
    font-size: 20px;
}

header .header-navigation .cadastradas,
header .header-navigation .pendentes {
    display: flex;
    align-items: center;
    height: 13vh;
}

.fundo {
    position: absolute;
    height: 13vh;
    width: 150px;
    left: 0;
    background-color: var(--contraste);
    z-index: 1;
    transform-origin: right;
    animation: expandirEsquerda 0.5s ease forwards;
}

@keyframes expandirEsquerda {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes recolherDireita {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

#aprovacao {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}