:root {
    --primaria: #8b5cf6;
    --primaria-dark: #7c3aed;
    --primaria-light: #a78bfa;
    --secondaria: #67e8f9;
    --branco: #ffffff;
    --branco-light: #b99db6;
    --texto: #000000;
    --texto-secundario: #000000;
    --sucesso: #10b981;
    --perigo: #ef4444;
    --alerta: #f59e0b;
}
.second-tecnico{
    margin-top: 10px;
}
.second-tecnico h1{
    font-size: 30px;
}
.second-totens{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 26vh;
}
.second-totens .totem{
    width: 25%;
    border: 1px solid var(--primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}
.second-totens .totem:hover{
    background-color: #eae3ff;
}
.second-totens .totem .color{
    width: 30%;
    height: 3vh;
    border: 1px solid var(--primaria);
    border-radius: 20px;
}
.second-totens .totem h1{
    color: black;
    font-weight: 400;
}
.second-totens .totem p{
    color: var(--primaria);
}

/* TERCEIRA PARTE */
.third-tecnico{
    display: flex;
    align-items: center;
    gap: 100px;
}
.third-tecnico .part-one{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.third-tecnico .part-one h1{
    font-size: 30px;
}
.third-tecnico .part-one .legendas{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.third-tecnico .part-one .legendas .legenda p{
    font-size: 20px;
}
.third-tecnico .part-one .legendas .legenda{
    display: flex;
    gap: 20px;
    align-items: center;
}
.third-tecnico .part-one .legendas .legenda .color{
    width: 15%;
    height: 4vh;
    border: 1px solid var(--primaria);
    border-radius: 20px;
}
.third-tecnico .part-two .barra{
    width: 130%;
    margin-top: 30px;
}